<div class="container" *ngIf="!spin; else spinner">
    <div class="row">
        <div class="col-md-12 display-4">
           Reset password
        </div>
    </div>
    <hr>
    <br>

  <div class="row">
    <div class="col-md-10">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="updatePassword()">
       <div>
          <mat-form-field class="example-form">
              <input type="text" matInput formControlName=UserName pattern="^[A-Za-z]+[0-9]+$" placeholder="Enter the username">
          </mat-form-field>
          <mat-error><span *ngIf="!GetUserName.valid && GetUserName.touched">Enter a valid email id</span></mat-error>
       </div>
       <div>
          <mat-form-field class="example-form">
              <input [type]="hide ? 'password' : 'text'" matInput formControlName="NewPassword" (contextmenu)="$event.preventDefault()" autocomplete="off" (copy) = "$event.preventDefault()" (cut)="$event.preventDefault()" (paste)="$event.preventDefault()" placeholder="New Password" pattern="^.*(?=.{8,})(?=..*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[+=?@#-^*%!]).*$">
              <mat-hint align="end">Password Length: {{GetPassword.value.length}}</mat-hint>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>  
          </mat-form-field>
          
          <mat-error><span *ngIf="!GetPassword.valid && GetPassword.touched">Password should contain uppercase,lowercase, nummeric and 8 characters long</span></mat-error>
       </div>
       <div>
          <mat-form-field class="example-form">
              <input [type]="hideC ? 'password' : 'text'" matInput formControlName="ConfirmPassword" (contextmenu)="$event.preventDefault()" autocomplete="off" (copy) = "$event.preventDefault()" (cut)="$event.preventDefault()" (paste)="$event.preventDefault()" placeholder="Confirm Password" (change)="validatePassword()" pattern="^.*(?=.{8,})(?=..*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[+=?@#-^*%!]).*$">
              <mat-icon matSuffix (click)="hideC = !hideC">{{hideC ? 'visibility' : 'visibility_off'}}</mat-icon>    
        </mat-form-field>
          
          <mat-error><span *ngIf="!validatePassword() && GetConfirmPassword.dirty">Confirm password not matching</span></mat-error>
       </div>
        <div class="row">
          <div class="col-md-3">
              <button type="reset" mat-raised-button color="warn">Reset</button>
          </div>
          <div class="col-md-3">
              <button type="submit" mat-raised-button [disabled]="!forgotPasswordForm.valid || !passwordConfirmStatus" color="primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
  Processing the request....
</ng-template>