.example-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .container 
  {
   
      width : 50%;
      margin: auto;
  }
  mat-spinner
  {
    position : fixed;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    transform: -webkit-translate(-50%,-50%);
    transform: -ms-translate(-50%,-50%);
    transform: -moz-translate(-50%,-50%);
  }
  hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
    }
    