
  .example-full-width {
    width: 70%;
  }
  .flex-container {
    display: flex;
    justify-content: flex-end;

  }
  
  .flex-container > div {
    
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .homeback{
    height: 100%;
    background-image: url('/assets/images/home_back.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-block {
    position: sticky;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.75;
}