<div class="container">
        <div class="row">
             
            <mat-form-field class="full-width">
              <input class="input" matInput type="text" pattern="/^[a-zA-Z\s]*$" [(ngModel)]="searchText" placeholder="Search admin by user name"> 
            </mat-form-field>
            
             <div class="col"class="addAdminButton">
                <button mat-raised-button type="button" (click)="goToAddAdmin()" color="primary">Add Admin</button>
            </div>
        </div>

        <div class="row">
          <div class = "col-md-12 display-4">
            Admin List
          </div>
        </div>

        <hr>
        <br>


           <div clas="row">
                <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>User Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let admin of admins|AdminSearchFilter:searchText| paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>{{admin.UserName}}</td>
                            <td>{{admin.PhoneNumber}}</td>
                            <td>{{admin.Email}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
           </div> 
        </div>         
        <router-outlet></router-outlet>
        