<div class="container" *ngIf="!spin; else spinner">
  
<div class="row">
        <div class="col-md-12 display-4">
            Request password recovery email
        </div>
</div>

  <div class="row">
    <div class="col-md-10">
        <form #forgetPasswordForm="ngForm" (ngSubmit)="SendResetLink()">
            <div>
                <mat-form-field>
                    <input type="text" matInput name="userName" #username="ngModel" [(ngModel)]="userName" pattern="^[A-Za-z]+[0-9]+$" placeholder="Enter the username">
                </mat-form-field>
                <mat-error><span *ngIf="!username.valid && username.touched">Enter a username with atleast 5 characters and alphanumeric</span></mat-error>
            </div>
            <button type="submit" mat-raised-button color="primary">Submit</button>
        </form>
    </div>
  </div>
</div>
<ng-template #spinner>
    Processing the request....
    <mat-spinner></mat-spinner>
</ng-template>